@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
body {
    background-image: linear-gradient(#536976, #292E49);
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
}

h2 {
    color: #292E49;
}

img {
    width: 290px;
    height: 230px;
}

#bio {
    text-align: center;
}

#redes {
    display: inline-block;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 35px;
    margin-left: -40px;
    margin-top: 10px;
}

#redes a {
    margin: 10px;
    color: black;
}

#redes a.facebook:hover {
    color: #647e8d;
}

#redes a.instagram:hover {
    color: #647e8d;
}

#redes a.github:hover {
    color: #647e8d
}

#redes a.email:hover {
    color: #647e8d;
}

#redes a.twitter:hover {
    color: #647e8d;
}

#redes a.linkedin:hover {
    color: #647e8d;
}

#porta {
    margin-top: -20px;
}

#portafolio {
    margin-top: -15px;
}

#personalInfo {
    margin-bottom: -30px;
}

section {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    align-content: center;
    background-color: #e0e0e0;
    color: #292E49;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
}

.jumbotron {
    width: 100%;
    align-items: center;
    height: 650px;
    border-radius: 10px;
    background-color: #e0e0e0;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
}

#profilePic {
    width: 300px;
    height: 300px;
    margin-top: -10px;
    margin-left: 20%;
    background-color: black;
    background-image: url(../img/code.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 100px rgba(5, 5, 5, 0.7);
}

table {
    width: 100%;
}

.container {
    text-align: center;
}

#formacionAcademica {
    margin-bottom: -30px;
}

#personalText {
    color: black;
    font-size: 17px;
    text-align: left;
    font-weight: bold;
}

#mark {
    color: black;
    text-align: left;
}

#markSkill {
    color: black;
}

i {
    padding: 5px;
    margin-left: -0px;
}

#icon {
    margin-right: 10px;
    font-size: 25px;
}

#iconNum {
    margin-right: 5px;
    font-size: 25px;
}

#iconCasa {
    margin-right: 1px;
    font-size: 25px;
}

#iconEstado {
    margin-right: 10px;
    font-size: 25px;
}

#iconMail {
    margin-right: 5px;
    font-size: 25px;
}

#iconoPorta {
    font-size: 60px;
    color: black;
}